.chat{
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.chat__box {
  width: 100%;
  border: 1px solid rgb(195, 195, 195);
  border-top: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  overflow-y: auto;
}

/* Adjust the flex property of the child elements as needed */
.chat__box > * {
  flex: none;
}

.chat__inputArea{
width: 80%;
}

.chat__inputButton{
  width: 20%;
}