.chat{
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.chat__box{
  width: 100%;
  height: 60vh;
  border: 1px solid  rgb(195, 195, 195);
  border-top: none;
  border-bottom: none;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  flex-direction: column;
  padding: 0 20px;
}

.chat__inputArea{
width: 80%;
}

.chat__inputButton{
  width: 20%;
}